<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Express App</title>
</head>
<body>
  
  <div class="header">
    {{>part/header}}
  </div>
  
  <div class="container">
    {{{body}}}
  </div>
  
  <div class="footer">
    {{>part/footer}}
  </div>

</body>
</html>